
/**
* -------------
* Global Styles
* -------------
*/

body {
  /* Default font family and font color */

  /* Ajout de la police "Poppins" */

    font-family: 'Poppins', sans-serif;

}

p, li, textarea, label, input, select {
  /* Default font size and line height */
}



h1 {
   /* Default font, size, and margins */
}

h2 {
  /* Default font, size, and margins */
}

h3 {
  /* Default font, size, and margins */
}

h4 {
  /* Default font, size, and margins */
}

h5 {
  /* Default font, size, and margins */
}

h6 {
  /* Default font, size, and margins */
}


a {
  /* Link color */
}

a:hover {
  /* Link color on mouse over */
}


/**
* ------
* Layout
* ------
*/




/**
* ----------
* Components
* ----------
*/

.entete {
  background-color: #fcce00 ; /* Changer la couleur de fond */
  color : #fff; /* Changer la couleur du texte */
  text-align: center; /* Changer l'alignement du texte */
  font-weight: 900 ; /* Changer l'epaisseur de la police */
  padding-top: 20px; /* Changer la marge intérieur du bloc - Haute */
  padding-bottom: 80px; /* Changer la marge intérieur du bloc - Bas */
  padding-right: 0px; /* Changer la marge intérieur du bloc - Droite */
  padding-left: 0px; /* Changer la marge intérieur du bloc - Gauche */
  margin-bottom: 64px; /* Changer la marge extérieur au bloc */
}

.entete_titre {
  font-size: 88px; /* Changer la taille de police */ 
  text-transform: uppercase; /* Pour mettre en majuscule automatiquement */ 
}

.entete_sous-titre {
  font-size: 38px;
}





















